:root {
    --black: #000;
    --infoColor: #17a2b8;
    --font: 'Fira Sans', sans-serif;
    --fontLogo: 'Lobster Two', cursive;
}

/* Globales */

body {
    font-family: var(--font);
}

.hrStyle {
    background-color: var(--infoColor) ;
    height: 0.1rem;
    margin: 2.5rem 0;
}

.logoFont {
    font-family: var(--fontLogo);
}

a {
    text-decoration: none;
}

/* Navbar */

.svg {
    height: 2rem;
    width: 2rem;
}

/* Hero Section */
.heroSection img {
    height: 100%;
    width:100%;
}

/* Main */

.bg-black {
    background-color: var(--black);
}

/* Sección destacados */

.card-img-top {
    height: 10rem;
    width: 100%;
}

/* Footer */

.footerStyle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon {
    color: white;
}

.tooltip-inner {
    background-color: var(--infoColor);
}