:root {
    --black: #000;
}

/* Navbar */
.svg {
    height: 2rem;
    width: 2rem;
}

/* Hero Section */
.heroSection img {
    height: 100%;
    width:100%;
}

/* Main */

/* main {
    background-color: var(--black);
} */
