:root {
    --black: #000;
}

/* Utilidadades */

.hrStyle {
    background-color: #17a2b8;
    height: 0.1rem;
    margin: 2.5rem 0;
}

/* Navbar */
.svg {
    height: 2rem;
    width: 2rem;
}

/* Hero Section */
.heroSection img {
    height: 100%;
    width:100%;
}

/* Main */

.bg-black {
    background-color: var(--black);
}